* {
  margin: 0;
  padding: 0;
}
.row {
  margin: 0;
  padding: 0;
}

.logo-img {
  position: absolute;
  height: 20%;
  left: 40%;
}

#background {
  height: 100%;
  background: url("/assets/bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  scroll-behavior: smooth;
  overflow: hidden;
}
.player {
  position: absolute;
  height: 500px;
}
#p5 {
  bottom: 0%;
  transform: scaleX(-1);
  right: 5%;
  z-index: 1;
}
#p4 {
  bottom: 0%;
  transform: scaleX(-1);
  left: 60%;
}

#p3 {
  bottom: 0%;
  right: -5%;
  z-index: 1;
}
#p2 {
  bottom: 0%;
  height: 700px;
  left: 60%;
}

#p1 {
  bottom: 35%;
  height: 350px;
  z-index: 1;
  left: 75%;
}

#left-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.card {
  position: relative;
  background-color: transparent;
  border: #fff 2px solid;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.8s;
}
.card:hover {
  transition: 0.8s;
  background-color: white;
}
.card .face {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 150px;
  transition: 0.5s;
}
.card:hover .face {
  height: 250px;
  width: 180px;
  cursor: pointer;
}
.card .face .content {
  opacity: 0.4;
  transition: 0.5s;
}
.card:hover .face .content {
  opacity: 1;
}
.card .face .content img {
  position: relative;

  width: 30%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg)
    brightness(104%) contrast(102%);
}

.card:hover .face .content img {
  filter: none;
}
.card .face .content h3 {
  color: #fff;
  font-size: 1.5em;
}
.card:hover .face .content h3 {
  color: black;
}
