/* poppins-100 - latin */

html,
body {
  font-family: "Poppins", sans-serif;
  /* height: 100%; */
  width: 100%;

  padding: 0;
  margin: 0;

  overflow-x: hidden;
  scroll-behavior: smooth;
}
.nav-wrapper {
  overflow-y: hidden;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#body-content {
  visibility: hidden;
}

/* Style for match data request */

.mcard-container {
  margin: 10px;
  padding: 20px 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: white 2px solid;
  border-radius: 20px;
  transition: 0.5s;
}
.mcard-container:hover {
  cursor: pointer;
  background-color: rgba(128, 0, 128, 0.3);
}
.mcard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mtimeDate {
  text-align: end;
  border-right: white 2px solid;
}
.mtimeClock {
  text-align: start;
}

.mteam {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  /* height: 35px; */
}
.homeTeam,
.awayTeam {
  position: relative;
  color: white;
  height: 40px;
}
.homeTeam h3 {
  margin: 0;
  padding: 10px;

  font-size: 25px;
  text-align: end;
}
.versusBlock {
  background-color: teal;
  text-align: center;
}
.versusBlock h3 {
  margin: 0;
  font-size: 25px;
}
.awayTeam h3 {
  margin: 0;
  padding: 10px;

  font-size: 25px;
  text-align: start;
}
#small-detail {
  text-align: center;
}

.scard-container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: white;
  left: 15%;
  /* border: white 2px solid;
  border-radius: 20px; */
  margin: 0px 0px 50px;
}
.scard-container table thead th {
  color: white;
}
.scard-container table tbody tr th {
  color: white;
}
td,
th {
  color: white;
}
#tname {
  width: 50%;
}

.scard-container h3 {
  border-bottom: white 2px solid;
}
